
@{
    ViewBag.Title = "DeleteCustomer";
}

<h2>DeleteCustomer</h2>

<form method="post">
<label>Customer Id:</label>
<input type="text" name="id" value="" />
<label>Customer Name:</label>
<input type="text" name="cname" value="" />
<input type="submit" name="DeleteCustomer" value="Delete" />
</form>

