<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source = LAPTOP-1GKJ0ROI\SQLEXPRESS02; Initial Catalog = LibrarySystem; Integrated Security = True" name="LibraryCnString" providerName="System.Data.SqlClient"></add>


	</connectionStrings>
</configuration>